doctype html
html
  head
    title Quick Gallery
    link(rel='stylesheet',type='text/css',href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',type='text/css',href='vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet',type='text/css',href='vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet',type='text/css',href='styles/app.css')
  body
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-brand QuickGallery
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(type="button",data-toggle="modal",data-target="#directories",href="")
                            i.fa.fa-fw.fa-folder
                            span Directories
                    li
                        a(type="button",data-toggle="modal",data-target="#admin",href="")
                            i.fa.fa-fw.fa-gear
                            span Admin
    #directory.container-fluid
        .row
            .col-sm-12
            form.navbar-form
                ol.title.breadcrumb
        .content.row
            .col-sm-12
                ul.directories.nav.nav-pills
        .content.row
            .col-sm-12
                ul.pictures.nav.nav-pills
    #admin.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span &times;
            h4 Admin
          .modal-body
            .panel.panel-default
              .panel-heading Cache builder
              .panel-body
                form(name="adminForm")
                  .row
                    .col-md-4.text-center
                      .checkbox
                        label
                          input(type="checkbox",name="clean")
                          span clean
                    .col-md-4.text-center
                      .checkbox
                        label
                          input(type="checkbox",name="thumbnails")
                          span thumbnails
                    .col-md-4.text-center
                      .checkbox
                        label
                          input(type="checkbox",name="adapted")
                          span adapted
                  .row
                    .col-md-4.text-center
                      button.btn.btn-primary.start(type="button") Start
                    .col-md-4.text-center
                      button.btn.btn-danger.stop(type="button") Stop
                    .col-md-4.text-center
                      button.btn.btn-default.status(type="button") Status
                      div
                        .label.label-default.strong.status
            .iframe-container
    #directories.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal")
              span &times;
            h4 Directories
          .modal-body
            ul.tree
    #picture.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4
                        span.title
                        div.small.pull-right
                            span.currentPicIndex
                            span /
                            span.picsCounter
                            span= " "
                            a.text-muted(href="javascript:",data-dismiss="modal")
                                i.fa.fa-times
                .modal-body
                    img.img-responsive.img-rounded
                .modal-footer
                    a.download.btn.btn-default(target="_blank")
                        i.fa.fa-fw.fa-download
                    button.previous.btn.btn-default(type="button")
                        i.fa.fa-fw.fa-chevron-left
                    button.next.btn.btn-default(type="button")
                        i.fa.fa-fw.fa-chevron-right
    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/director/build/director.min.js')
    script(src="scripts/utils.js")
    script(src="scripts/directoriesView.js")
    script(src="scripts/directoryView.js")
    script(src="scripts/pictureView.js")
    script(src="scripts/adminView.js")
    script(src="scripts/app.js")
