doctype html
html
  head
    title Quick Gallery
    link(rel='stylesheet',type='text/css',href='styles/components.css')
    link(rel='stylesheet',type='text/css',href='styles/app.css')
  body
    div#root
    div#modal

    script(src="scripts/components.js")
    script(src="scripts/app.js")
