doctype html
html
  head
    title Quick Gallery
    link(rel='stylesheet',type='text/css',href='styles/vendors.css')
    link(rel='stylesheet',type='text/css',href='styles/app.css')
  body
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse",data-target="#navbar-collapse")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-brand QuickGallery
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(type="button",data-toggle="modal",data-target="#directories",href="")
                            i.fa.fa-fw.fa-sitemap
                            span Directories
                    li
                        a(type="button",data-toggle="modal",data-target="#adminCacheBuilder",href="")
                            i.fa.fa-fw.fa-gear
                            span Cache builder
                    li
                        a(type="button",data-toggle="modal",data-target="#adminServerLogs",href="")
                            i.fa.fa-fw.fa-info
                            span Server logs
    #directory.container-fluid
        .row
            .col-sm-12
            form.navbar-form
                ol.title.breadcrumb
        .content.row
            .col-sm-12
                ul.directories.nav.nav-pills
        .content.row
            .col-sm-12
                ul.pictures.nav.nav-pills
    #adminServerLogs.expanded.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4
              i.text-muted.fa.fa-fw.fa-info
              span Server logs
              .pull-right.small.text-muted
                a.text-muted(href="",data-dismiss="modal")
                  i.fa.fa-fw.fa-close
          .modal-body
            pre
          .modal-footer
            a.btn.btn-default(target="_blank",href="api/logs")
                i.fa.fa-fw.fa-external-link
            button.btn.btn-default.refresh(type="button")
              i.fa.fa-fw.fa-refresh
    #adminCacheBuilder.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4
              i.text-muted.fa.fa-fw.fa-gear
              span Cache builder
              .pull-right.small.text-muted
                a.text-muted(href="",data-dismiss="modal")
                  i.fa.fa-fw.fa-close
          .modal-body
            .alert-container
            form(name="adminForm")
              .row
                .col-md-6
                  .checkbox
                    label
                      input(type="checkbox",name="thumbnails")
                      span Build thumbnails
                  .checkbox
                    label
                      input(type="checkbox",name="adapted")
                      span Build adapted pictures
                  .checkbox
                    label
                      input(type="checkbox",name="clean")
                      span Clean the selected cache directories before the cache builder process
                .col-md-6
                  button.btn.btn-default.btn-block.status(type="button")
                    i.fa.fa-fw.fa-refresh
                    span Refresh status
                  button.btn.btn-primary.btn-block.start(type="button")
                    i.fa.fa-fw.fa-play
                    span Start the process
                  button.btn.btn-danger.btn-block.stop(type="button")
                    i.fa.fa-fw.fa-stop
                    span Stop current process
    #directories.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4
              i.text-muted.fa.fa-fw.fa-sitemap
              span Directories
              .pull-right.small.text-muted
                a.text-muted(href="",data-dismiss="modal")
                  i.fa.fa-fw.fa-close
          .modal-body
            ul.tree
    #picture.expanded.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    h4
                        i.text-muted.fa.fa-fw.fa-file-picture-o
                        span.title
                        .pull-right.small.text-muted
                            span.currentPicIndex
                            span /
                            span.picsCounter
                            span= " "
                            a.text-muted(href="",data-dismiss="modal")
                                i.fa.fa-fw.fa-close
                .modal-body
                    img.img-responsive.img-rounded
                .modal-footer
                    a.download.btn.btn-default(target="_blank")
                        i.fa.fa-fw.fa-download
                    button.previous.btn.btn-default(type="button")
                        i.fa.fa-fw.fa-chevron-left
                    button.next.btn.btn-default(type="button")
                        i.fa.fa-fw.fa-chevron-right
    script(src="scripts/vendors.js")
    script(src="scripts/app.js")
